---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"projects">;
}

const { entry } = Astro.props;
---

<a
  href={`/projects/${entry.slug}`}
  class="group flex flex-col rounded-lg border border-black/15 dark:border-white/20 overflow-hidden hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
>
  <div class="h-40 bg-black/5 dark:bg-white/5 overflow-hidden">
    {entry.data.image
      ? <img src={entry.data.image} alt={entry.data.title} class="w-full h-full object-cover" />
      : <div class="w-full h-full" />
    }
  </div>
  <div class="flex flex-col gap-2 p-4">
    <div class="font-semibold truncate">
      {entry.data.title}
    </div>
    <div class="text-sm line-clamp-1">
      {entry.data.description}
    </div>
    {entry.data.tags && entry.data.tags.length > 0 && (
      <div class="flex flex-wrap gap-1 mt-1">
        {entry.data.tags.map(tag => (
          <span class="text-xs px-2 py-0.5 rounded-full border border-black/15 dark:border-white/20">
            {tag}
          </span>
        ))}
      </div>
    )}
  </div>
</a>
